<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f09cf127-f4f2-4077-b17b-14202915d97d/resourceGroups/ApiQuickBooksDemo20200402140023ResourceGroup/providers/Microsoft.Web/sites/ApiQuickBooksDemo20200402140023</ResourceId>
    <ResourceGroup>ApiQuickBooksDemo20200402140023ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiquickbooksdemo20200402140023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiquickbooksdemo20200402140023.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiQuickBooksDemo20200402140023</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApiQuickBooksDemo20200402140023</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dbserver04.database.windows.net,1433;Initial Catalog=VentasRancherasdb;Persist Security Info=False;User ID=ecruz;Password=Open2015;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dbserver04.database.windows.net,1433;Initial Catalog=VentasRancherasdb;Persist Security Info=False;User ID=ecruz;Password=Open2015;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dbserver04.database.windows.net,1433;Initial Catalog=VentasRancherasdb;Persist Security Info=False;User ID=ecruz;Password=Open2015;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=Nim;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=Nim;Pooling=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:dbserver04.database.windows.net,1433;initial catalog=VentasRancherasdb;persist security info=False;user id=ecruz;password=Open2015;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>